[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
untangle = "*"
beancount = "*"
text-unidecode = "*"

[dev-packages]
ipython = "*"
ipdb = "*"
flake8 = "*"

[requires]
python_version = "3"
